{% extends "index.html" %} {% block content %}

<section class="showcase-area" id="showcase">
  <div class="showcase-container">
    <h1 class="main-title" id="home">Eat Right Food</h1>
    <p>Eat Healty, it is good for our health.</p>
    <a href="/menu" class="btn btn-primary">Menu</a>
  </div>
</section>

<section id="food-menu">
  <h2 class="food-menu-heading">Meet Our Chefs</h2>
  <div class="food-menu-container container">
    <div class="food-menu-chef">
      <div class="food-img">
        <img src="https://i.postimg.cc/x8tC1VXT/chef1.jpg" alt="" />
        <h2 class="food-titile">Ariana</h2>
        <p>
          Meet Ariana, a skilled and passionate chef with a flair for creating
          delectable culinary masterpieces. With 5 years of experience in the
          food industry.
        </p>
      </div>
    </div>

    <div class="food-menu-chef">
      <div class="food-img">
        <img src="https://i.postimg.cc/tJKxjHwZ/chef2.jpg" alt="error" />
        <h2 class="food-titile">Ed Sheeran</h2>
        <p>
          Meet Ed Sheeran, Known for their ability to craft dishes that
          tantalize the taste buds and leave guests wanting more. 
        </p>
      </div>
    </div>

    <div class="food-menu-chef">
      <div class="food-img">
        <img src="https://i.postimg.cc/TPKWN9tH/chef3.png" alt="error" />
        <h2 class="food-titile">Taylor</h2>
        <p>Meet Taylor, From running busy restaurant kitchens to crafting custom menus for events,
             Taylor has a track record of success and a reputation for excellence. </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
