{% extends "index.html" %}
{% block content %}


<section id="food-menu">
    <h3 class="food-menu-heading">Food Menu</h3>
    <div class="food-menu-container container">
        <div class="food-menu-item">
            <div class="food-img">
                <img src="https://i.postimg.cc/wTLMsvSQ/food-menu1.jpg" alt="" />
            </div>
            <div class="food-description">
                <h2 class="food-titile">Focaccia</h2>
                <p>
                    It is a flat leavened oven-baked Italian bread, 
                    similar in style and texture to pizza;
                </p>
                <p class="food-price">$10</p>
            </div>
        </div>

        <div class="food-menu-item">
            <div class="food-img">
                <img src="https://i.postimg.cc/sgzXPzzd/food-menu2.jpg" alt="error" />
            </div>
            <div class="food-description">
                <h3 class="food-titile">Bubbling Shrimp</h3>
                <p>
                    Bubbling Shrimp is a garlic butter shrimp casserole, 
                    traditionally served as either an appetizer or main course.
                </p>
                <p class="food-price">Price: $16</p>
            </div>
        </div>
        <div class="food-menu-item">
            <div class="food-img">
                <img src="https://i.postimg.cc/8zbCtYkF/food-menu3.jpg" alt="" />
            </div>
            <div class="food-description">
                <h3 class="food-titile">Etta Rita</h3>
                <p>
                    Etta Rita is a roasted fish made from
                    Rita rita which is a species of bagrid catfish found across southern Asia. 
                </p>
                <p class="food-price">Price: $16</p>
            </div>
        </div>
        <div class="food-menu-item">
            <div class="food-img">
                <img src="https://i.postimg.cc/Yq98p5Z7/food-menu4.jpg" alt="" />
            </div>
            <div class="food-description">
                <h3 class="food-titile">Bucatini Cacio e Pepe</h3>
                <p>
                    Cacio e pepe is a pasta dish from the cuisine of the city of Rome. 
                    Cacio e pepe means "cheese and pepper"
                </p>
                <p class="food-price">Price: $19</p>
            </div>
        </div>
        <div class="food-menu-item">
            <div class="food-img">
                <img src="https://i.postimg.cc/KYnDqxkP/food-menu5.jpg" alt="" />
            </div>
            <div class="food-description">
                <h3 class="food-titile">Spicy Meatballs</h3>
                <p>
                    These spicy meatballs are boldly flavored with garlic, 
                    cumin, paprika, and cayenne.
                </p>
                <p class="food-price">Price: $16</p>
            </div>
        </div>
        <div class="food-menu-item">
            <div class="food-img">
                <img src="https://i.postimg.cc/Jnxc8xQt/food-menu6.jpg" alt="" />
            </div>
            <div class="food-description">
                <h3 class="food-titile">The "etta" Chopped Salad</h3>
                <p>
                    This fresh and colorful salad has all of the delicious flavors you love from the classic caprese salad, 
                    plus even more healthy veggies. 
                </p>
                <p class="food-price">Price: $18</p>
            </div>
        </div>
    </div>
</section>

<section id="food">
    <h2>Types of food</h2>
    <div class="food-container container">
        <div class="food-type fruite">
            <div class="img-container">
                <img src="https://i.postimg.cc/yxThVPXk/food1.jpg" alt="error" />
                <div class="img-content">
                    <h3>fruite</h3>
                    <a href="https://en.wikipedia.org/wiki/Fruit" class="btn btn-primary" target="blank">learn
                        more</a>
                </div>
            </div>
        </div>
        <div class="food-type vegetable">
            <div class="img-container">
                <img src="https://i.postimg.cc/Nffm6Rkk/food2.jpg" alt="error" />
                <div class="img-content">
                    <h3>vegetable</h3>
                    <a href="https://en.wikipedia.org/wiki/Vegetable" class="btn btn-primary" target="blank">learn
                        more</a>
                </div>
            </div>
        </div>
        <div class="food-type grin">
            <div class="img-container">
                <img src="https://i.postimg.cc/76ZwsPsd/food3.jpg" alt="error" />
                <div class="img-content">
                    <h3>grin</h3>
                    <a href="https://en.wikipedia.org/wiki/Grain" class="btn btn-primary" target="blank">learn
                        more</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}